{% extends "sms_app/main.html" %}
{% load static %}
{% block content %}

<div style="margin-left:600px;">
    <a href="{% url 'sms_app:receive_quantity' get_stock.id %}"><div class="btn btn-info">Edit Receive Quantity</div></a>
    <a href="{% url 'sms_app:quantity_required' get_stock.id %}"><div class="btn btn-info">Edit Quantity Required</div></a>
</div>
<br>

Name : {{ get_stock.name}}<br>
Description : {{ get_stock.description}}<br>
Price : {{ get_stock.price}}<br>
Quantity : {{ get_stock.quantity}}<br>
Quantity Required : {{ get_stock.quantity_required}}<br>
Receive Quantity : {{ get_stock.receive_quantity}}<br>
Issue Quantity : {{ get_stock.issue_quantity}}<br>
Date Created : {{ get_stock.date_created}}<br>
Last Update : {{ get_stock.last_updated}}<br>
<br><br>
Total Quantity : {{ get_stock.quantity_calc}}<br>


{% endblock %}